<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GlmSharp" version="0.9.8" targetFramework="net46" />
  <package id="Google.Protobuf" version="3.7.0" targetFramework="net46" />
  <package id="HelixToolkit" version="2.10.0" targetFramework="net46" />
  <package id="HelixToolkit.Wpf" version="2.10.0" targetFramework="net46" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net46" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net46" />
</packages>